{
  "log": {
    "_recordingName": "Index Tests/index function returns error status code",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.5.0"
    },
    "entries": [
      {
        "_id": "e9a4df12b12e332f2377f029b8063cda",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://httpstat.us/503"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          ],
          "headers": [
          ],
          "status": 503,
          "statusText": "Service Unavailable"
        },
        "time": 133,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
