{
  "log": {
    "_recordingName": "Index Tests/index function returns error status code",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "e9a4df12b12e332f2377f029b8063cda",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://httpstat.us/503"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 23,
            "text": "503 Service Unavailable"
          },
            {
              "domain": "httpstat.us",
              "httpOnly": true,
              "name": "ARRAffinity",
              "path": "/",
              "value": "b955c8563723dd9e0e11d02489e28e3864f2eadf53badd271d4d2dd652883d56"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            }
          ],
          "status": 503,
          "statusText": "Service Unavailable"
        },
        "time": 208,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
